<div class="container">
    <h1>Sobre o VisioEdu</h1>
    <hr />
    <p>Essa é uma aplicação web que permite aos usuários visualizar dados específicos sobre o desempenho dos alunos de
        uma determinada escola em cada área do Exame Nacional do Ensino Médio. A partir desses dados, o sistema
        relaciona as notas buscando padrões entre escolas a partir de atributos de infraestrutura, número e nível dos
        professores, localidade, entre outros. A partir desses dados a escola pode procurar melhorar em pontos nos quais
        está falhando e, consequentemente, fornecer um melhor ensino e preparo para os seus estudantes.</p>

    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <p><b>Buscas por escolas:</b> O usuário pode rapidamente buscar pelo nome de uma escola por uma barra de
                pesquisa
                que
                conseguirá captar substrings e partes da palavra presentes no nome da instituição.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <p><b> Visualização de gráficos e Índices de desempenho:</b> A aplicação irá utilizar dados abertos do INEP
                para o
                cálculo
                de índices relevantes e a construção de gráficos com esses mesmos índices gerados. Tudo estará
                disponível para a
                visualização e configuração do usuário que estiver utilizando a aplicação.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <p><b>Padrões de Dados e correlacionamento com outras instituições:</b> A partir da coleta dos dados de cada
                escola, será
                possível identificar quais são os principais fatores que levam ao desempenho negativo ou positivo de um
                aluno de
                acordo com qualidades e defeitos de sua escola. Também será possível construir um “ranking” de
                desempenho que
                dirá como uma escola está em comparação com as outras do Brasil, e também quais tem atributos parecidos
                e como
                estão os alunos dessa que possui qualidades similares.</p>
        </mat-card-content>
    </mat-card>
    <div class="info">
        <p class="linkstyle"><img src="http://cdn.onlinewebfonts.com/svg/img_326384.png">
            <a href="https://github.com/ggpereira">Gabriel Gomes Pereira</a></p>
    </div>
    <div class="info">
        <p class="linkstyle"><img src="http://cdn.onlinewebfonts.com/svg/img_326384.png">
            <a href="https://github.com/odcmello">Otávio da Cruz Mello</a></p>
    </div>
</div>