.city-search-box-container {
  // margin: auto;
  margin-top: 20px;
  margin-left: 2px;
  width: 30%;
}

.school-search-box-container {
  // margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
}
  
.search-box-size {
  width: 100%;
}

.card-inf{
  width: 40%;
  height: 70%;
  min-width: 450px;
  min-height: 725px;
  margin: 10px;
  float: left;
}
.card-general{
  width: 40%;
  // height: 60%;
  margin: 10px;
  min-width: 450px;
  min-height: 725px;
  float: left;
}

mat-card-header{
    width: 100%;
    justify-content: center;
}

mat-card-subtitle{
    margin-left: 35%;
}

mat-card-title{
    white-space: nowrap;
}

.isEmpty-info {
    font-size:18px;
    font-weight: bolder;
    color: #383838;
}