<div fxLayout="row" fxLayoutAlign="start start">
    <div style="width: 25%">
        <app-search [defaultStateName]="estadoAtual"></app-search>
    </div>
    <div class="city-search-box-container">
        <form>
            <mat-form-field class="search-box-size">
                <input type="text" placeholder="Digite um municipio" aria-label="Municipio" matInput
                    [formControl]="formCidadeControl" [matAutocomplete]="autoCidade">
                <mat-autocomplete #autoCidade="matAutocomplete">
                    <mat-option *ngFor="let dados of dadosCidades" [value]="dados.municipio"> 
                        {{ dados.municipio }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="school-search-box-container">
        <form>
            <mat-form-field class="search-box-size">
                <input type="text" placeholder="Digite uma escola" aria-label="Escola" matInput
                    [formControl]="formEscolaControl" [matAutocomplete]="autoEscola">
                <mat-autocomplete #autoEscola="matAutocomplete">
                    <mat-option *ngFor="let dados of dadosEscolas" [value]="dados.no_entidade">
                        {{ dados.no_entidade }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</div>

<div>
    
</div>