.city-search-box-container {
  // margin: auto;
  margin-top: 20px;
  margin-left: 2px;
  width: 30%;
}

.school-search-box-container {
  // margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
}
  
.search-box-size {
  width: 100%;
}