<mat-card class="card" *ngIf="barChartData">
        <mat-card-header>
            <mat-card-title style='font-size: 28px'>
                <div>
                    <div *ngIf="chartType === 'bar'">
                        <mat-icon>bar_chart</mat-icon>
                        {{titulo}}
                    </div>
                    <!-- <div *ngIf="chartType === 'pie'">
                        <mat-icon>pie_chart</mat-icon>
                        {{titulo}}
                    </div> -->
                </div>
            </mat-card-title>
            <mat-card-subtitle>{{ cardSubHeader }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-flex-container">
            <!-- <div class="card-container" *ngIf="chartType === 'pie'">
                <ngx-charts-pie-chart [scheme]="colorScheme" [results]="chartData" [legend]="showLegend"
                    [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient"
                    [trimLabels]="trimLabels" (select)="onSelect($event)">
                </ngx-charts-pie-chart>
            </div> -->
                <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card-content>
    </mat-card>