@import '~@angular/material/theming';

$config: mat-typography-config();

.button {
    width: 35%;
    height: 38%;
    margin: 10px;
    overflow: hidden;
    border-width: 0;
    font-family: mat-font-family($config);
    transition: background-color .3s;
    background-color: #fff;
    color: #D3D3D3;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    // background-image: url('src/assets/img/brasil-globo_640.jpg');
    font-size: 40px;
    min-width: 400px;
    min-height: 380px;

}

.button:hover {
  background-color: #C2C2C2;
  opacity: 0.8;
}
