
.search-box-container {
  // margin: auto;
  margin-top: 20px;
  width: 80%;
}
  
.search-box-size {
  width: 80%;
}

.card {
  margin: 10px;
  float: left;
  width: 30%;
  height: 39%;
  min-height: 340px;
  min-width: 395px;
}

mat-card-header{
 width: 100%;
 justify-content: center;
}

mat-card-content h1:hover{
  color: purple;
  cursor: default;
}

mat-card-title{
 white-space: nowrap;
}