<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon id="toolbarMenu" (click)="sidenav.toggle()">
    subject
  </mat-icon>
  VisioEdu
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
    visibility
  </mat-icon>

  <!-- <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field> -->
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" opened #sidenav id="sidenav">
    <mat-list id="menus">
      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>dashboard</mat-icon>
          Página Inicial
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>show_chart</mat-icon>
          Estatísticas
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>map</mat-icon>
          Regiões
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>compare_arrows</mat-icon>
          Compare
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>info</mat-icon>
          Sobre
        </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <google-chart
      [title]="titleChart"
      [type]="type"
      [data]="myData">
    </google-chart>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>